<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.maps.any? %>
      <h3>Maps (<%= @user.maps.count %>)</h3>
      <ol class="maps">
        <%= render @maps %>
      </ol>
      <%= will_paginate @maps %>
    <% end %>
  </div>
</div>
